# Enabling EOL normalization for all files
* text=auto

# Windows files (need CRLF)
*.bat eol=crlf

# Unix files (need LF)
*.sh eol=lf

# Drawio files are bulky xml files, so we don't need to diff them
*.drawio -diff
